{{ define "accountsshow" }}

  {{ template "header" . }}

  {{ template "navbar" . }}

	<h1>{{ GetLangText "Create account" .Lang }}</h1>

	<form class="form-inline" action="/accounts/save" method="post">
		<input type="hidden" name="_CSRF" value="{{ .Csrf }}">
		<div class="form-group">
			<label class="sr-only" for="description">{{ GetLangText "Description" .Lang }}</label>
			<input type="text" class="form-control" id="description" name="description" placeholder="{{ GetLangText "Description" .Lang }}">
		</div>
		<button type="submit" class="btn btn-success">{{ GetLangText "Save" .Lang }}</button>
	</form>

	{{ template "footer" . }}

{{ end }}
