{{ define "postsshow" }}

  {{ template "header" . }}

  {{ template "navbar" . }}

	<h1>{{ GetLangText "Update post" .Lang }}</h1>

	{{ with .Posts}}
	{{ range . }}
	<p>ID: {{ .Pid }}</p>
	<form class="form-inline" action="/posts/update" method="post">
		<input type="hidden" name="_CSRF" value="{{ $.Csrf }}">
		<input type="hidden" name="id" value="{{ .Pid }}">
		<div class="form-group">
			<label class="sr-only" for="description">{{ GetLangText "Description" $.Lang }}</label>
			<input type="text" class="form-control" id="description" name="description" placeholder="{{ GetLangText "Description" $.Lang }}" value="{{ .Description }}">
		</div>
		<div class="form-group">
			<label class="sr-only" for="expense">{{ GetLangText "Expense" $.Lang }}</label>
			<input type="text" class="form-control" id="expense" placeholder="" value="{{ .Expense }}" readonly>
		</div>
		<div class="form-group">
			<label class="sr-only" for="income">{{ GetLangText "Income" $.Lang }}</label>
			<input type="text" class="form-control" id="income" placeholder="" value="{{ .Income }}" readonly>
		</div>

		<div class="form-group">
			<label class="sr-only" for="dateonly"
				>{{ GetLangText "Date" $.Lang }}</label
			>
			<input
				type="date"
				class="form-control"
				id="dateonly"
				name="dateonly"
				placeholder=""
				value="{{ .DateOnly }}"
			/>
		</div>

		<div class="form-group">
			<label class="sr-only" for="timeonly"
				>{{ GetLangText "Time" $.Lang }}</label
			>
			<input
				type="string"
				class="form-control"
				id="timeonly"
				placeholder=""
				value="{{ .TimeOnly }}"
				readonly
			/>
		</div>

		<div class="form-group">
			<label class="sr-only" for="amount">{{ GetLangText "Amount" $.Lang }}</label>
			<input type="number" step="any" class="form-control" id="amount" name="amount" placeholder="{{ GetLangText "Amount" $.Lang }}" value="{{ .Amount }}">
		</div>
		<button type="submit" class="btn btn-success">{{ GetLangText "Save" $.Lang }}</button>
		<button type="button" class="btn btn-warning" onClick="onCancelPostsShow()">{{ GetLangText "Cancel" $.Lang }}</button>
	</form>

	<script>
		function onCancelPostsShow() {
			window.location = "/posts";
		}
	</script>

	{{ end }}
	{{ end }}

	{{ template "footer" . }}

{{ end }}
